<a href="https://colab.research.google.com/github/indradeep2000/Proj_one/blob/master/HOML_01_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
assert sys.version_info >= (3, 7)

In [2]:
import matplotlib.pyplot as plt

plt.rc('font', size=12)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=12)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

In [3]:
import numpy as np

np.random.seed(42)

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [5]:
# Download and prepare the data
data_root = "https://github.com/ageron/data/raw/main/"
lifesat = pd.read_csv(data_root + "lifesat/lifesat.csv")
X = lifesat[["GDP per capita (USD)"]].values
y = lifesat[["Life satisfaction"]].values

In [6]:
X

array([[26456.38793813],
       [27287.08340093],
       [28384.98778463],
       [29932.49391006],
       [31007.76840654],
       [32181.15453723],
       [32238.15725928],
       [35638.42135118],
       [36215.44759073],
       [36547.73895598],
       [36732.03474403],
       [38341.30757041],
       [38992.14838075],
       [41627.12926943],
       [42025.61737306],
       [42404.39373816],
       [45856.62562648],
       [47260.80045844],
       [48210.03311134],
       [48697.83702825],
       [50683.32350972],
       [50922.35802345],
       [51935.60386182],
       [52279.72885136],
       [54209.56383573],
       [55938.2128086 ],
       [60235.7284917 ]])

In [7]:
y

array([[5.8],
       [5.4],
       [5.5],
       [5.9],
       [5.6],
       [5.4],
       [6.1],
       [5.7],
       [6.3],
       [5.9],
       [5.9],
       [7.2],
       [6. ],
       [6.8],
       [6.5],
       [7.3],
       [7.4],
       [7.6],
       [6.9],
       [7.3],
       [7.3],
       [7. ],
       [7.1],
       [7.5],
       [7.4],
       [7.6],
       [6.9]])

In [8]:
lifesat

           Country  GDP per capita (USD)  Life satisfaction
0           Russia          26456.387938                5.8
1           Greece          27287.083401                5.4
2           Turkey          28384.987785                5.5
3           Latvia          29932.493910                5.9
4          Hungary          31007.768407                5.6
5         Portugal          32181.154537                5.4
6           Poland          32238.157259                6.1
7          Estonia          35638.421351                5.7
8            Spain          36215.447591                6.3
9         Slovenia          36547.738956                5.9
10       Lithuania          36732.034744                5.9
11          Israel          38341.307570                7.2
12           Italy          38992.148381                6.0
13  United Kingdom          41627.129269                6.8
14          France          42025.617373                6.5
15     New Zealand          42404.393738                7.3
16          Canada          45856.625626                7.4
17         Finland          47260.800458                7.6
18         Belgium          48210.033111                6.9
19       Australia          48697.837028                7.3
20          Sweden          50683.323510                7.3
21         Germany          50922.358023                7.0
22         Austria          51935.603862                7.1
23         Iceland          52279.728851                7.5
24     Netherlands          54209.563836                7.4
25         Denmark          55938.212809                7.6
26   United States          60235.728492                6.9

In [9]:
number_of_lafesat_entries = len(lifesat)
print("The number of entries in the DataFrame is:", number_of_lafesat_entries)

The number of entries in the DataFrame is: 27

In [10]:
lifesat_temp = lifesat
lifesat_temp

           Country  GDP per capita (USD)  Life satisfaction
0           Russia          26456.387938                5.8
1           Greece          27287.083401                5.4
2           Turkey          28384.987785                5.5
3           Latvia          29932.493910                5.9
4          Hungary          31007.768407                5.6
5         Portugal          32181.154537                5.4
6           Poland          32238.157259                6.1
7          Estonia          35638.421351                5.7
8            Spain          36215.447591                6.3
9         Slovenia          36547.738956                5.9
10       Lithuania          36732.034744                5.9
11          Israel          38341.307570                7.2
12           Italy          38992.148381                6.0
13  United Kingdom          41627.129269                6.8
14          France          42025.617373                6.5
15     New Zealand          42404.393738                7.3
16          Canada          45856.625626                7.4
17         Finland          47260.800458                7.6
18         Belgium          48210.033111                6.9
19       Australia          48697.837028                7.3
20          Sweden          50683.323510                7.3
21         Germany          50922.358023                7.0
22         Austria          51935.603862                7.1
23         Iceland          52279.728851                7.5
24     Netherlands          54209.563836                7.4
25         Denmark          55938.212809                7.6
26   United States          60235.728492                6.9

In [12]:
lifesat_sort = lifesat.sort_values("GDP per capita (USD)" , ascending=False)

lifesat_sort

           Country  GDP per capita (USD)  Life satisfaction
26   United States          60235.728492                6.9
25         Denmark          55938.212809                7.6
24     Netherlands          54209.563836                7.4
23         Iceland          52279.728851                7.5
22         Austria          51935.603862                7.1
21         Germany          50922.358023                7.0
20          Sweden          50683.323510                7.3
19       Australia          48697.837028                7.3
18         Belgium          48210.033111                6.9
17         Finland          47260.800458                7.6
16          Canada          45856.625626                7.4
15     New Zealand          42404.393738                7.3
14          France          42025.617373                6.5
13  United Kingdom          41627.129269                6.8
12           Italy          38992.148381                6.0
11          Israel          38341.307570                7.2
10       Lithuania          36732.034744                5.9
9         Slovenia          36547.738956                5.9
8            Spain          36215.447591                6.3
7          Estonia          35638.421351                5.7
6           Poland          32238.157259                6.1
5         Portugal          32181.154537                5.4
4          Hungary          31007.768407                5.6
3           Latvia          29932.493910                5.9
2           Turkey          28384.987785                5.5
1           Greece          27287.083401                5.4
0           Russia          26456.387938                5.8